<!DOCTYPE html>
<html>
	<link rel='stylesheet', href='public/styling/style.css'>
	<head>
	</head>
	<body>

		<h2> Welcome <%= user.firstname + " " + user.lastname + "!" %> </h2>
		<br><br>
		<button onclick="window.location.href = '/edit_personal_details';" class='secondary-btn'> Edit personal details</button>




	</body>
</html>