<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../public/styling/mapStyle.css">
  <script src="http://localhost:3001/socket.io/socket.io.js"></script>
  <script src="../public/javascripts/coordinates.js"></script>
  <script src="../public/javascripts/map.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%=mapsAPI%>&callback=initMap" async defer></script>
  <script src="../public/javascripts/mapStyle.js"></script>
  <script src="../public/javascripts/navigate.js"></script>

  <title>JEDI MAP</title>
  <h1 style="color:white; text-decoration: underline; text-decoration-color: yellow;" align="middle">Joint Enterprise Defense Infrastructure </h1>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
</head>

<body id="map_ejs_body" bgcolor="#17263C">
  <img src="../public/photos/dod.png"
  style="width:130px; display:block; margin-left:auto; margin-right:auto; margin-bottom: 10px">
  <div id="notificationDiv" style="display:block; margin-left:auto; margin-right:auto;text-align: center;">
    <span id="notificationDisplay" style="color:red;font-size: 140%;"> </span>
  </div>
  <div id="map"></div><br>
  <!-- <button onclick="startSimulation()" style="display:block; margin-left:auto; margin-right:auto;">Start Simulation</button><br>
  <button onclick="spotSAM()" style="display:block; margin-left:auto; margin-right:auto;">Discover SAM</button><br> -->

</body>
</html>
