<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../public/styling/mapStyle.css">
  <script src="http://localhost:3001/socket.io/socket.io.js"></script>
  <script src="../public/javascripts/coordinates.js"></script>
  <script src="../public/javascripts/map.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%=mapsAPI%>&callback=initMap" async defer></script>
  <script src="../public/javascripts/mapStyle.js"></script>
  <script src="../public/javascripts/navigate.js"></script>

  <title>MOD MAP</title>
  <!-- <h1 style="color:black; text-decoration: underline; text-decoration-color: #562140;" align="middle">Ministry of Defence Infrastructure Map</h1> -->
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
</head>

<body id="map_ejs_body" bgcolor="white" style="margin-top:5px">
  <img src="../public/photos/mod.png"
  style="width:130px; display:block; margin-left:auto; margin-right:auto; margin-bottom: 15px">
  <div id="notificationDiv" style="display:block; margin-left:auto; margin-right:auto;text-align: center;">
    <span id="notificationDisplay" style="color:red;font-size: 140%;"> </span>
  </div>
  <div id="map"></div><br>
  <div style=>
  <button onclick="scenario1()" style="display:block; margin-left:auto; margin-right:auto;">scenario1</button>
  <button onclick="scenario2()" style="display:block; margin-left:auto; margin-right:auto;">scenario2</button>
  <button onclick="scenario3()" style="display:block; margin-left:auto; margin-right:auto;">scenario3</button>
  <button onclick="scenario4()" style="display:block; margin-left:auto; margin-right:auto;">scenario4</button>
</div>
    <!-- <button onclick="spotSAM()" style="display:block; margin-left:auto; margin-right:auto;">Discover SAM</button><br> -->
    <div id="active-assets" style="width: auto; min-width: 700px; border: 5px solid black; float:right; margin-left: 0.5%">
      <table>
        <tr><th colspan="3">FRIENDLY ASSETS</th></tr>
        <tr> <th>ID</th><th>Type</th><th>Last Position</th></tr>
      </table>
    </div>
    <div id="active-enemy-assets" style="width: auto; min-width:300px; border: 5px solid red; float:right; margin-left: 0.5%">
      <table>
       <tr><th colspan="2">ENEMY ASSETS</th></tr>
       <tr> <th>ID<th>Last Position</th></tr>
     </table>
   </div>
   <div id="sent" style="width: 340px; border: 5px solid #562140; float:left; margin-right: 0.5%">
    <table id="sent-table">
      <tr><th colspan="2">SENT</th></tr>
      <tr><th>ID</th><th>Message</th></tr>
    </table>
  </div>
  <div id="received" style="width: 360px; border: 5px solid #562140; float:left;">
    <table id="received-table">
      <tr><th colspan="3">RECEIVED</th></tr>
      <tr><th>Type</th><th>Position</th><th>Timestamp</th></tr>
    </table>
  </div>
</body>
</html>
