#map {
  height: 90%;
}

html, body {
  height: 85%;
  margin: 1%;
  padding: 0;
}

.gm-style-cc { display:none; }
.gm-svpc { display:none; }

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:first-child th{
  text-align: center !important;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

.active-assets{
  overflow:auto;
  height: auto;
}

.active-enemy-assets{
  overflow:auto;
  height: auto;
}

#received-table{
  font-size:11px; !important;
}